# Ketergantungan (Dependencies)
node_modules/
package-lock.json

# # Konfigurasi Environment & Rahasia (Sangat Penting!)
# .env
# .env.test
# .env.production

# Log files (Dibuat otomatis jika terjadi error)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Folder build / output (Jika nanti menggunakan Typescript atau build tools)
dist/
build/

# File sistem operasi (Otomatis terbuat oleh OS)
.DS_Store
Thumbs.db